body {
  color: #494e52;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  line-height: 1.5;
}

#main {
  font-size: 18px;
  margin: 20px 60px;
}

h1 {
  margin-top: 0;
  font-size: 1.953em;
}

h2,
h3 {
  text-align: left !important;
  margin: 1.2em 0;
}

p {
  margin-bottom: 1.3em;
}
